<center>
  <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/">Home</a></strong></font> &nbsp; 
  
  <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/about">About Jewett's</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/cheeses">Cheeses</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/goodies">Other Goodies</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/gifts">Gift Baskets</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/location">Location &amp; Hours</a></strong></font> <br>
  <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/events">Events</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/customers">Our Customers Speak</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/brochure">Order A Brochure</a></strong></font> &nbsp; <font font="FONT" size="2" face="ARIAL, HELVETICA" color="#FF0000"><strong><a href="/orderinfo">Ordering Information</a></strong></font><br>
</center></td></tr></tbody></table>
