<!DOCTYPE html>
<html lang="en">
	<title>Jewett's Cheese House Aged Cheddar Cheese and Specialty Cheeses Earlville, New York</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
	<body>
		{{{ body }}}
		
		<script src="/js/jquery-3.6.0.min.js"></script>
		<script src="/js/jewetts.js"></script>
	</body>
</html>
