<!DOCTYPE html>
<html lang="en">
	<title>Jewett's Cheese House Aged Cheddar Cheese and Specialty Cheeses Earlville, New York</title>
	{{> meta }}
	<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/jewetts.css">
	<body>
		{{> header }}
		{{{ body }}}
		{{> footer }}
		
		<script src="/js/jquery-3.6.0.min.js"></script>
		<script src="/js/jewetts.js"></script>
	</body>
</html>
