.bgcolor {
}

/*
     FILE ARCHIVED ON 13:09:42 Feb 02, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:29:27 May 02, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 60.987
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.064
  RedisCDXSource: 0.559
  esindex: 0.006
  LoadShardBlock: 44.266 (3)
  PetaboxLoader3.datanode: 108.355 (4)
  CDXLines.iter: 14.03 (3)
  load_resource: 173.017
  PetaboxLoader3.resolve: 79.564
*/